@page
@model OOOFormula.Pages.Administration.Catalog.ListMaterials.CreateModel

@{
    ViewData["Title"] = "Создание";
}

<div class="col-12 mb-2">
    <h1>Создание</h1>
    <hr />
</div>

<div class="row">
    <div class="col-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Materials.ImagePath" />

            <div class="form-group">
                <label asp-for="Materials.Name" class="control-label">Название</label>
                <input asp-for="Materials.Name" class="form-control" required />
                <span asp-validation-for="Materials.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Materials.Price" class="control-label">Стоимость</label>
                <input asp-for="Materials.Price" class="form-control" />
                <span asp-validation-for="Materials.Price" class="text-danger"></span>
            </div>

            @* Upload Image *@
            <div class="form-group">
                <label class="control-label">Фото</label>
                <div class="custom-file mt-2 p-0">
                    <input asp-for="Photo" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" asp-page="Index">Назад</a> |
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
