@page "{id}"
@model OOOFormula.Pages.Administration.ListManufacturers.CreateModel

@{
    ViewData["Title"] = "Создание";
}

<div class="col-12 mb-2">
    <h1>Создание</h1>
    <hr />
</div>

<div class="col-6">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Manufacturers.Name" class="control-label">Название</label>
            <input asp-for="Manufacturers.Name" class="form-control" />
            <span asp-validation-for="Manufacturers.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" asp-page="Index">Назад</a> |
            <input type="submit" value="Создать" class="btn btn-success" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
