@page "{id}"
@model OOOFormula.Pages.Administration.ListManufacturers.DetailsModel

@{
    ViewData["Title"] = Model.Manufacturers.Name;
}

<div class="col-12 mb-2">
    <h1>Просмотр записи</h1>
    <hr />
</div>

<div class="row">
    <div class="col-12">
        <dl class="row">
            <dt class="col-sm-2">Название</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Manufacturers.Name)
            </dd>
        </dl>
    </div>

    <div class="col-12">
        <a class="btn btn-primary" asp-page="./Index">Назад</a> |
        <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Manufacturers.Id">Изменить</a> |
        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@Model.Manufacturers.Id">Удалить</a>
    </div>
</div>