@page
@model OOOFormula.Pages.Administration.ListManufacturers.EditModel

@{
    ViewData["Title"] = "Редактирование";
}

<div class="col-12 mb-2">
    <h1>Редактирование</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Manufacturers.Id" />

            <div class="form-group">
                <label asp-for="Manufacturers.Name" class="control-label">Название</label>
                <input asp-for="Manufacturers.Name" class="form-control" />
                <span asp-validation-for="Manufacturers.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-danger" asp-page="./Index">Отмена</a> |
                <input class="btn btn-success" type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
