@page
@model OOOFormula.Pages.EditPages.IndexModel
@{
    
}

<div class="form-group">
    <a asp-area="" asp-page="/Administration/test" asp-route-ID="1" class="btn btn-success m-1">CLick ME</a>
    <a asp-area="" asp-page="/Administration/Edit">CLick ME 2</a>
</div>