@page
@model OOOFormula.Pages.ContactsModel
@{
    ViewData["Title"] = "Контакты";
}

<div class="text-center mt-5">
    <h1>Контакты</h1>
</div>

<div class="row mt-2">
    <div class="col-md-4">
        <p class="mb-0">
            <span style="font-size:14pt;">
                <strong>Наш адрес:</strong>
            </span>
        </p>
        <p>
            г. Аксай, улица Западная, 37А
        </p>

        <p class="mb-0">
            <span style="font-size:14pt;">
                <strong>Наши телефоны:</strong>
            </span>
        </p>
        <p>
            +7 (961) 269-65-88<br />
            +7 (958) 571-64-88
        </p>

        <p class="mb-0">
            <span style="font-size:14pt;">
                <strong>Наш E-mail:</strong>
            </span>
        </p>
        <p>
            example@example.com
        </p>

        <p class="mb-0">
            <span style="font-size:14pt;">
                <strong>Режим работы:</strong>
            </span>
        </p>
        <p>
            Пн - Выходной<br />
            Вт-Вс - c 9:00 до 17:00
        </p>
    </div>

    <div class="col-md-8">
        <form method="post">
            <p class="mb-0 text-center">
                <span style="font-size:14pt;">
                    <strong>Связаться  с нами</strong>
                </span>
            </p>
            <div class="row justify-content-around mt-2">
                <div class="form-group col-6">
                    <input class="form-control mr-2" type="text" placeholder="Имя" required />
                </div>
                <div class="form-group col-6">
                    <input class="form-control mr-2" type="tel" placeholder="Телефон" required />
                </div>
                <div class="form-group col-12">
                    <textarea class="form-control mr-2" placeholder="Текст сообщения" rows="5" required></textarea>
                </div>
                <div class="form-group col-9">
                    Captcha
                </div>
                <div class="form-group col-3 text-center">
                    <button type="submit" class="btn btn-primary text-light">Отправить</button>
                </div>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success text-center col-12">
                        @TempData["SuccessMessage"]
                    </div>
                }
            </div>

            <!--Подключение частичного представления -->
            <!--Валидация на стороне клиента-->
            <partial name="_ValidationScriptsPartial" />
        </form>
    </div>

</div>