@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}
<div class="row justify-content-center">
    <div class="col-4 mt-5 text-center">
        <a class="nav-link text-dark" asp-area="" asp-page="/Gallery_works">
            <h1>Наши работы</h1>
        </a>
    </div>
</div>

<div class="row mt-1">

    @for (int i = 1; i <= 4; i++)
    {
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card-deck">
                <div class="card m-3">
                    <div class="text-center">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Gallery_works">
                            <h6>Title</h6>
                        </a>
                    </div>
                    <div class="text-center">
                        <a asp-area="" asp-page="/Gallery_works">
                            <img class="card-img-top" src="#" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center">
    <h1 class="mt-5">Наши услуги</h1>
</div>

<div class="row">
    <!--В цикле-->
    @for (int i = 1; i <= 4; i++)
    {
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card-deck">
                <div class="card m-3 cardBoxShadow">
                    <div class="text-center nav-link">
                        <h6>Title</h6>
                    </div>
                    <div class="text-center">
                        <img class="card-img-top" src="#" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
