@{
    Layout = "/Pages/Administration/_Layout.cshtml";
}
<div>
    <hr />
    <div class="row">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
