@page
@model OOOFormula.Pages.Administration.ListGallery.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gallery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gallery.Name" class="control-label"></label>
                <input asp-for="Gallery.Name" class="form-control" />
                <span asp-validation-for="Gallery.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gallery.Description" class="control-label"></label>
                <input asp-for="Gallery.Description" class="form-control" />
                <span asp-validation-for="Gallery.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gallery.ImagePath" class="control-label"></label>
                <input asp-for="Gallery.ImagePath" class="form-control" />
                <span asp-validation-for="Gallery.ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gallery.DateAdd" class="control-label"></label>
                <input asp-for="Gallery.DateAdd" class="form-control" />
                <span asp-validation-for="Gallery.DateAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
