<noscript>
    <div class="col alert alert-danger text-center m-0">
        <p class="m-0">
            Ваш браузер не поддерживает JavaScript или он отключен. Сайт может работать неправильно
        </p>
    </div>
</noscript>