@page "{id}"
@model OOOFormula.Pages.Administration.ListCategory.DetailsModel

@{
    ViewData["Title"] = Model.Category.Name;
}

<div class="col-12 mb-2">
    <h1>Просмотр записи</h1>
    <hr />
</div>

<div class="row">
    <div class="col-12">
        <dl class="row">
            <dt class="col-sm-2">Название категории</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>
    </div>
    <div class="col-12">
        <a class="btn btn-primary" asp-page="./Index">Назад</a> |
        <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Category.Id">Изменить</a>
    </div>
</div>